@import "tailwindcss";

.auth-button {
    @apply h-[47px] w-[120px] bg-zinc-200 rounded-2xl flex justify-center items-center
}

.file-upload-anim:hover {
 @apply scale-105 bg-[#0A1A33] text-zinc-200
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.filter-button:hover {
  @apply transition-colors duration-500 ease-in-out bg-[#0A1A33] text-white 
}